    #filter_input{
      display: block;
      margin: auto;
      width: 40%;
    }
    
    /* body {
      min-height: 100vh;
      margin: 0;
    }

    .container {
      width: 100%;
      padding: 20px;
    }

    .card {
      width: 18rem;
      margin: 10px;
    } */

